@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

div.background {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #F0F7F6;
  border: 2px solid black;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: #000000;
	text-align: center;
	padding: 15px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color: black;
  text-align: center;
  font-size: medium;
}

body{
	background-image: image-url("image.png");
	background-size: 100%;
	margin:25px;
}

div.transparentbox {
	margin: 30px;
  	background-color: #0E211E;
  	border: 1px solid black;
	 opacity: 0.6;
  	filter: alpha(opacity=60); /* For IE8 and earlier */
  	position: relative;
  	width: 2/3;
  	height: 300px;
  	margin-top: 10px;
  	z-index: 1;
}

div.textoverlay{
	width: 80%;
  	top: 0; 
  	left: 0;
  	margin-top: -200px;
  	margin-left: 35%;
  	text-align: left;
  	z-index: 2;
  	position: relative;
  	color: #E9F0F0;
}


=======
@import "font-awesome";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  text-align: center;
}

.article.post{
  -webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0
}

.article-container article.post{
  background:#fff;
  border:1px solid #ccc;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
}


h1 {
	font-family: 'Poiret One', cursive;
	font-weight: 600;
	letter-spacing: -1.5px;
}

h2 {
  font-family: 'nobileregular', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
>>>>>>> my-temporary-work
